<div class="form-group" {{compareHook element}}>
	<label class="control-label{{#if element.required}} required{{/if}}" for="{{element.name}}">
		{{element.label}}
		{{#if element.required}}
			<span class="ast">*</span>
		{{/if}}
		<span class="colon">:</span>
	</label>
	<select class="form-control"
			{{onChangeUpdateById element.id}}
			name="{{element.name}}"
			{{#if element.required}}
			required{{/if}}
			{{#ifElementData element.name}}
				value="{{elementData element.name}}"
			{{/ifElementData}}
			placeholder="{{element.placeholder}}">
		{{#if element.placeholder}}
			<option value="" class="placeholder">{{element.placeholder}}</option>
		{{else}}
			<option value=""></option>
		{{/if}}
		{{#each element.options}}
			<option {{#dataIs ../element.name key}}selected {{/dataIs}}value="{{key}}">
				{{value}}
			</option>
		{{/each}}
	</select>
	<span class="help-block"></span>
</div>